<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO FORM</title>
</head>
<body>
    <h2>TO-DO FORM</h2>
    <form action="/submittodoitem" method="POST" >
        <label>Item Name:</label><br>
        <input type="text" name="itemname" id="itemname"><br><br>
        <label>Item Description:</label><br>
        <input type="text" name="description" id="description"><br><br>
        <label>Item ID:</label><br>
        <input type="number" name="itemid" id="itemid"><br><br>
        <label>Item UUID:</label><br>
        <input type="text" name="uuid" id="uuid"><br><br>
        <label>Item HASH:</label><br>
        <input type="text" name="hash" id="hash"><br><br>
        <button type="submit">Submit</button>
    </form>

    {% if message %}
       <h2>{{ message }}</h2>
    {% endif %}   
    
</body>
</html>